doctype html
html
	head
		title Canvas page
		link(rel='stylesheet', href='/farbtastic.css', type='text/css' )
		link(rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.10.2.custom.css', type='text/css' )
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css' )
		script(src="http://code.jquery.com/jquery-1.10.2.js")
		script(src="/js/jquery-ui-1.10.2.custom.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/canvas.js")
		body
			table(border="10")