doctype html
html
	head
		title Lobby Page
		script(src="http://code.jquery.com/jquery-1.10.2.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/lobby.js")
		body
			h1 Real Time Canvas Sample using Node.js
			p Connect Web Server With Socket.io
			span ROOM:
			input#room
			button CREATE ROOM
			hr
			div#container